<% - include('./partials/header') %>
<% - include('./partials/nav') %>


<p>Welcome to <%= title %></p>

<h4>This is the sign in page for oauth </h4>
<p>place form here</p>

<% - include('./partials/footer') %>